// Settings
@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";
@import "px-theme.scss";

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// Base
@import "px-viewport-design/_base.viewport.scss";
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-typography-design/_base.typography.scss";
@import "px-code-design/_base.code.scss";
@import "px-headings-design/_base.headings.scss";
@import "px-iconography-design/_base.iconography.scss";

// Meta
@import "px-meta-lists-design/_meta.lists.scss";

// Objects
$inuit-enable-layout--small : true;
$inuit-enable-layout--flush : true;
$inuit-enable-layout--full  : true;

@import "px-layout-design/_objects.layout.scss";

$inuit-enable-btn--bare     : true;

@import "px-buttons-design/_objects.buttons.scss";

// App
html {
  background-color: $px-page-html-background-color;
}

.layout__item.navbar {
  flex: none;
  min-height: calc(100vh - #{calculateRem(120px)});
}

[role=banner], [role=contentinfo] {
  height: calculateRem(60px);
}

[role=banner] {
  h1 {
    @include inuit-font-size(24px);
    margin: 0;
    font-weight: normal;
    color: $px-page-banner-text-color;
    svg {
      margin-bottom: -.1em;
    }
  }
}

main {
  background-color: $px-page-main-content-area-background-color;
}

[role=contentinfo] {
  @include inuit-font-size(12px);
  color: $px-page-link-color;
  a {
    text-decoration: none;
    color: $px-page-link-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Trumps
$inuit-enable-margins--tiny             : true;
$inuit-enable-margins--small            : true;
$inuit-enable-margins--large            : true;
$inuit-enable-margins--huge             : true;
$inuit-enable-margins--none             : true;
$inuit-enable-margins--rtl              : true;
$inuit-enable-margins--negative-tiny    : true;
$inuit-enable-paddings                  : true;
$inuit-enable-paddings--tiny            : true;
$inuit-enable-paddings--small           : true;
$inuit-enable-paddings--large           : true;
$inuit-enable-paddings--huge            : true;
$inuit-enable-paddings--none            : true;

@import "px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
